<a href="https://colab.research.google.com/github/gregorioacerussell/CPEN21A-PLD-1-1/blob/main/Python_as_a_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Function Calls
abs(-4.5)

4.5

In [4]:
#Function Calls other Function
pow(abs(-2), round(4.5)) #pow(2,4) (2 raise to 4)

16

In [8]:
#Type code Function
int(4.5)
float(4)

4.0

In [62]:
#Defining our own Function

def convert_to_celsius(fahrenheit):
  celsius=(fahrenheit-32)*5/9
  return celsius
fahrenheit=float(input("Enter a number in fahrenheit: "))

f=convert_to_celsius(fahrenheit)
x=round(f,2)

print(str(x) + " °C")

Enter a number in fahrenheit: 100
37.78 °C

In [65]:
#Exercises

#min and max function
a= min(2, 3, 4)
b= max(2, -3, 4, 7, -5)
c= max(2, -3, min(4, 7), -5)

print(a, b, c)

2 7 4