<a href="https://colab.research.google.com/github/gregorioacerussell/CPEN21A-PLD-1-1/blob/main/Python_Lists%2C_Sets%2C_Tuples%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python Lists
pi = 3.14159
varList = [1, 2, 'A', 'B', "Hello", pi]
print(varList[0])

varList.append("World!") #adding a string
len(varList)

varList.remove(pi) #removing a var
print(varList)

1
[1, 2, 'A', 'B', 'Hello', 'World!']

In [ ]:
#Python Dictionary

thisdict = {
    "name": "Ace",
    "age" : 18,
    "bday": "October 18, 2004",
    }
print(thisdict["name"])

Ace

In [ ]:
#Range
varList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(varList)

varList=range(0, 9, 4)
print([var for var in varList])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 4, 8]

In [ ]:
#Slicing

varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])
print(varList[5:])
print(varList[:-2]) #without the 2 last items
print(varList[-2:]) #only the 2 last items
print(varList[2:-2]) #after 2 then before last 2 items
print(varList[2:8:2]) #after 2 before 8 while adding 2

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]

In [52]:
#Loops

#for Loops
for var in range(0,5,2):
  print(var)

#while Loops
#varWhile = 0
#while varWhile<5:
  #print(var)
  #var+=2

#nested Loops
x = 0
while x<5:
  for y in range (0,x):
    print(y, end='')
  x +=1
  print()

0
2
4

0
01
012
0123

In [56]:
#Functions

def remainder(n,m):
  while True:
    if n-m < 0:
      return n 
    else:
      n = n-m
remainder(10,4)

2